/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Fondo */
body{
    font-family: 'Poppins', sans-serif;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:40px;
    color:#0ae40a;

    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("img/vaca.jpg");
    background-size: cover;
    background-position: center;
}

/* Título */
h1{
    color:#000000;
    margin-bottom:30px;
    text-align:center;
    text-shadow:2px 2px 5px rgba(0,0,0,0.6);
}

/* Tarjetas */
.contenedor{
    background: rgba(255,255,255,0.15); /* transparencia */
    width:400px;
    padding:25px;
    border-radius:20px;
    margin:15px;
    box-shadow:0 15px 30px rgba(0,0,0,0.4);
    backdrop-filter: blur(10px); /* efecto vidrio */
    border:1px solid rgba(255,255,255,0.3);
}

/* Subtítulos */
h2{
    color:#080808;
    margin-bottom:15px;
    text-align:center;
}

/* Labels */
label{
    font-weight:500;
    font-size:14px;
}

/* Inputs y select */
input, select{
    width:100%;
    padding:10px;
    margin:8px 0;
    border-radius:10px;
    border:1px solid #ccc;
}

/* Botones */
button{
    padding:10px 18px;
    margin-top:10px;
    border:none;
    border-radius:10px;
    background:linear-gradient(45deg,#030303,#0a0a0a);
    color:rgb(99, 85, 85);
    cursor:pointer;
}

button:hover{
    transform:scale(1.05);
}

/* CUADRO RESULTADO PRO */
#resultadoBox{
    margin-top:20px;
    padding:25px;
    border-radius:20px;
    background: rgba(255,255,255,0.2); /* transparente */
    backdrop-filter: blur(10px); /* efecto vidrio */
    border:1px solid rgba(255,255,255,0.3);
    box-shadow: 0 15px 35px rgba(0,0,0,0.4);
    line-height:1.8;
    animation: aparecer 0.5s ease;
    max-width:400px;
    width:100%;
}

/* Título del resultado */
#resultadoBox h3{
    text-align:center;
    margin-bottom:15px;
    color:#2E7D32;
}

/* Ganancias */
.ganancia{
    color:#2E7D32;
    font-weight:bold;
}

/* Pérdidas */
.perdida{
    color:#D32F2F;
    font-weight:bold;
}

/* Animación */
@keyframes aparecer{
    from{
        opacity:0;
        transform:translateY(20px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

/* Responsive */
@media(max-width:500px){
    .contenedor{
        width:100%;
    }
}
button[onclick="mostrarResumen()"]{
    display:none;
}
/* 📱 MEJORA PARA CELULARES */
@media(max-width:600px){

    body{
        padding:15px;
    }

    h1{
        font-size:20px;
    }

    .contenedor{
        width:100%;
        padding:18px;
        margin:10px 0;
    }

    h2{
        font-size:18px;
    }

    label{
        font-size:13px;
    }

    input, select{
        font-size:14px;
        padding:8px;
    }

    button{
        width:100%;
        margin-top:10px;
    }

    #resultadoBox{
        width:100%;
        padding:15px;
        font-size:14px;
    }
}
